@import 'utils/vars';
@import 'utils/reset';

body {
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 30;
    background-color: #f7f7f7;
}

img,
button {
    cursor: pointer;
}

h1 {
    font-size: $titleFontSize;
    font-weight: $titleFontWeight;
}

nav {
    padding: 30px;
    font-size: $titleFontSize;
    font-weight: $titleFontWeight;
    text-align: center;
    color: $main-color;
}



@import 'common/_common';