@import 'utils/vars';
@import 'utils/reset';

body{
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 30;
    background-color: #f7f7f7;
}
img{
    cursor: pointer;
}
@import 'common/_common';