$text-color-light: #FAFAFA;
$text-color-dark: #282846;
$main-color: #29A19C;
$mainFont: Nunito;
$mainFontSize: 14px;
$mainFontWeight: 400;
$titleFontSize: 18px;
$titleFontWeight: 600;
$modal-bc-color: #71717492;